@import url('https://fonts.googleapis.com/css?family=Courgette|Lato&display=swap');

$color-primary: #000;
$color-secondary: #fff;
$color-nav-hover: rgb(223, 211, 211);

$lato: 'Lato', sans-serif;
$courgette: 'Courgette', cursive;